In [1]:
from utils import *
from data_validation_checks import *
from constants import *
from city_tier_mapping import *
from significant_categorical_level import *
from schema import *

In [2]:
build_dbs(DB_PATH, DB_FILE_NAME)

DB Already Exists
/home/assignment/01_data_pipeline/scripts

'DB Exists'

In [3]:
load_data_into_db(DB_PATH, DB_FILE_NAME, DATA_DIRECTORY)

Reading csv file from data directory
Replacing any null values present in 'toal_leads_dropped' and 'referred_lead' with 0
Saving the processed dataframe in the db in a table named 'loaded_data

In [4]:
raw_data_schema_check(DB_PATH, DB_FILE_NAME, raw_data_schema)

Connecting to database
Reading data from loaded_data table
loaded_data column length:  46
raw_data_schema length:  45
Raw datas schema is in line with the schema present in schema.py

In [5]:
map_city_tier(DB_PATH, DB_FILE_NAME, city_tier_mapping)

Connecting to database
Reading data from loaded_data table
Mapping cities to their tier
Saving the processed dataframe in the db in a table named 'city_tier_mapped'

In [6]:
map_categorical_vars(DB_PATH, DB_FILE_NAME, list_platform, list_medium, list_source)

Connecting to database
Reading data from city_tier_mapped table
Mapping all the unsignificant variables present in first_platform_c
Mapping all the unsignificant variables present in first_utm_medium_c
Mapping all the unsignificant variables present in first_utm_source_c
Saving the processed dataframe in the db in a table named 'categorical_variables_mapped'

In [2]:
interactions_mapping(DB_PATH, DB_FILE_NAME, INTERACTION_MAPPING, INDEX_COLUMNS)

Connecting to database
Reading data from categorical_variables_mapped table
Reading interaction_mapping from categorical_variables_mapped table
Unpivoting the interaction columns and put the values in rows
Handling the nulls in the interaction value column
Mapping interaction type column with the mapping file to get interaction mapping
Dropping the interaction type column as it is not needed
Pivoting the interaction mapping column values to individual columns in the dataset
Saving the processed dataframe in the db in a table named 'interactions_mapped'

In [3]:
model_input_schema_check(DB_PATH, DB_FILE_NAME, model_input_schema)

Connecting to database
Reading data from interactions_mapped table
interactions_mapped column length:  13
raw_data_schema length:  7
Models input schema is in line with the schema present in schema.py